*.htaccess
*sitemap.xml
*.log
*.sql
*.zip
*.DS_Store
*.
htdocs/wp-content/uploads/
htdocs/wp-content/themes/twenty*
htdocs/wp-content/blogs.dir/
htdocs/wp-content/upgrade/
htdocs/wp-content/backup-db/
htdocs/wp-content/advanced-cache.php
htdocs/wp-content/wp-cache-config.php
htdocs/wp-content/cache/
htdocs/wp-content/backups/
htdocs/sitemap.xml.gz
htdocs/wp-config.php

!*.gitignore
